<template>
  <v-app>
    <v-toolbar app v-if="ethereumEnabled">
      <v-list-tile-content>
        <h4 v-if="accountName">{{accountName}}</h4>
          <h4 v-else>Nombre sin definir
            <v-icon small @click="showNameModal=true" >edit</v-icon>
          </h4>
        <small v-if="account">({{account}})</small>
      </v-list-tile-content>
      <v-spacer></v-spacer>
      <v-toolbar-title class="headline text-uppercase">
        <v-icon color="green">fiber_manual_record</v-icon>
      </v-toolbar-title>
    </v-toolbar>
    <v-toolbar v-else>
      <v-toolbar-title class="headline text-uppercase">
        <span>Metamask no disponible. Por favor instale Metamask.</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-icon color="red">fiber_manual_record</v-icon>
    </v-toolbar>
    <v-content v-if="ethereumEnabled">
      <factory
        v-bind:factory="factory"
        v-bind:account="account"
        v-bind:accountName="accountName"
        v-bind:ballotData="ballotData"
      />
      <v-alert type="error" v-model="error" dismissible>
        {{ errorMessage }}</v-alert
      >
    </v-content>
    <v-dialog v-model="showNameModal" max-width="500">
      <v-form>
        <v-card>
          <v-card-title class="headline">Configurar Nombre</v-card-title>
          <v-card-text>
            <v-text-field @keydown.space.prevent v-model="inputName" label="Nombre"></v-text-field>
            <p class="text-end font-weight-black">.votantes.iua</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :disabled="inputName == null || inputName == ''" flat color="blue" @click="setName(); showNameModal=false">Crear</v-btn>
            <v-btn flat color="red" @click="inputName = null; showNameModal=false">Cancelar</v-btn>
          </v-card-actions>

        </v-card>
      </v-form>
    </v-dialog>
  </v-app>
</template>

<script>
import Web3 from "web3";
import factory from "./components/Factory";
export default {
  name: "App",
  components: {
    factory
  },
  data() {
    return {
      ethereumEnabled: false,
      networkId: 0,
      factory: null,
      account: null,
      accountName: null,
      inputName: null,
      error: false,
      errorMessage: "Error",
      showNameModal: false
    };
  },
  props: ["ballotData", "factoryData"],
  methods: {
    addressInNetwork(network) {
      if (this.factoryData["networks"][network]) {
        return this.factoryData["networks"][network]["address"];
      }
    },
    initWeb3() {
      if (window.ethereum) {
        this.ethereumEnabled = true;
        this.networkId = window.ethereum.networkVersion;
        window.web3 = new Web3(window.ethereum);
        let address = this.addressInNetwork(this.networkId);
        if (address) {
          this.factory = new window.web3.eth.Contract(
            this.factoryData.abi,
            address
          );
        }
      }
    },
    async initMetamaskAccount() {
      try {
        this.account = (await window.ethereum.enable())[0];
        window.ethereum.on("accountsChanged", async accounts => {
          this.account = accounts[0];
          let hasName = await this.factory.methods.hasName().call({from: this.account});
          this.accountName = hasName ? await this.factory.methods.resolveName().call({from: this.account}) : null;
        });
        let hasName = await this.factory.methods.hasName().call({from: this.account});
        this.accountName = hasName ? await this.factory.methods.resolveName().call({from: this.account}) : null;
      } catch (e) {
        this.errorMessage = "Se denegó el acceso a la cuenta en Metamask";
        this.error = true;
        console.log(e);
      }
    },
    async setName() {
      if (this.account && this.factory) {
        await this.factory.methods.registerVoter(this.inputName).send({ from: this.account });
        let hasName = await this.factory.methods.hasName().call({from: this.account});
        this.accountName = hasName ? await this.factory.methods.resolveName().call({from: this.account}) : null;
      }
      this.inputName = null;
    }
  },
  computed: {
    deployed() {
      return this.factoryData["networks"] !== undefined;
    },
    networks() {
      let networks = [];
      for (let network in this.factoryData["networks"]) {
        networks.push(network);
      }
      return networks;
    }
  },
  created() {
    this.initWeb3();
    this.initMetamaskAccount();
  }
};
</script>
