<template>
  <div v-if="factory">
    <v-alert v-model="message.error.status" dismissible type="error">
      {{ message.error.msg }}
    </v-alert>
    <v-alert v-model="message.success.status" dismissible type="success">
      {{ message.success.msg }}
    </v-alert>
    <v-alert v-model="message.info.status" dismissible type="info">
      {{ message.info.msg }}
    </v-alert>
    <v-card>
      <v-card-title>

        <h4>Ballot Factory</h4>
        <v-spacer></v-spacer>
        <h6>Contrato disponible</h6>
        <v-spacer></v-spacer>
        <v-btn fab flat small color="gray" v-on:click="forceRefresh">
          <v-icon>sync_problem</v-icon>
        </v-btn>
        <v-btn fab flat small color="gray" v-on:click="refresh">
          <v-icon>refresh</v-icon>
        </v-btn>
        <v-btn fab flat small color="gray" v-on:click="showCreateBallotModal">
          <v-icon>add_circle</v-icon>
        </v-btn>

        <v-dialog v-model="flags.showCreateBallotModal" max-width="500">
          <v-form>
            <v-card>
              <v-card-title class="headline">Crear Propuesta</v-card-title>

              <v-card-text>
                <v-text-field @keydown.space.prevent v-model="proposal.name" label="Nombre"></v-text-field>
                <v-text-field v-model="proposal.description" label="Descripcion"></v-text-field>
                <v-text-field v-model="proposal.in" min="1" type="number" label="Dentro de (segundos)"></v-text-field>
                <v-text-field v-model="proposal.duration" min="1" type="number" label="Duracion (segundos)"></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat color="blue"
                  :disabled="proposal.name == null || proposal.name == '' || proposal.description==null || proposal.description == '' || proposal.in == null || proposal.in.length < 10"
                  @click="createBallot(); flags.showCreateBallotModal = false">Crear</v-btn>
                <v-btn flat color="red" @click="flags.showCreateBallotModal = false; proposal.name = proposal.description = null; proposal.in = 30; proposal.duration = 120">Cancelar</v-btn>
              </v-card-actions>

            </v-card>
          </v-form>
        </v-dialog>
      </v-card-title>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-tile>
          <v-list-tile-content><h4>Dirección:</h4></v-list-tile-content>
          <v-list-tile-content class="align-end">
            {{ factory.options.address }}
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <v-list-tile>
          <v-list-tile-content><h4>Propuestas:</h4></v-list-tile-content>
          <v-list-tile-content class="align-end">
            {{ createdCount }}
          </v-list-tile-content>
          <v-btn :disabled="createdCount == 0" v-if=!flags.showBallots flat fab small @click="listBallots">
            <v-icon>remove_red_eye</v-icon>
          </v-btn>
          <v-btn v-else flat fab small @click="listBallots">
            <v-icon>arrow_drop_up</v-icon>
          </v-btn>
        </v-list-tile>

        <div v-if="flags.showBallots">
          <v-divider></v-divider>
          <v-list-tile v-for="(ballot, index) in ballotsList" :key="index">
            <v-list-tile-content>
              <h6>{{ getPrettyDate(ballot.startTime) }} &rarr; {{ getPrettyDate(ballot.endTime) }} : {{ ballot.name }}</h6>
              {{ ballot.description }}
            </v-list-tile-content>
            <v-list-tile-content class="align-end">
              <h4 v-if="ballot.ended && ballot.results.yes > ballot.results.no">GANA EL SI</h4>
              <h4 v-if="ballot.ended && ballot.results.no > ballot.results.yes">GANA EL NO</h4>
              <h4 v-if="ballot.ended && ballot.results.yes == ballot.results.no">EMPATE</h4>
            </v-list-tile-content>
            <v-btn v-if="!ballot.ended && ballot.isAuthorizedToVote" flat fab small @click="giveRight.ballot = ballot.name; flags.showGiveRightModal = true">
              <v-icon>add</v-icon>
            </v-btn>
            <v-btn :disabled="ballot.hasAlreadyVoted" v-if="ballot.started && !ballot.ended && ballot.isAuthorizedToVote" flat fab small @click="vote(ballot.name, false)">
              <v-icon color="red">close</v-icon>
            </v-btn>
            <v-btn :disabled="ballot.hasAlreadyVoted" v-if="ballot.started && !ballot.ended && ballot.isAuthorizedToVote" flat fab small @click="vote(ballot.name, true)">
              <v-icon color="green">check</v-icon>
            </v-btn>
          </v-list-tile>
        </div>

        <v-divider></v-divider>

        <v-list-tile>
          <v-list-tile-content>
            <h4>Creados por: {{ accountName }}</h4>
            <small>({{ account }})</small>
          </v-list-tile-content>
          <v-list-tile-content class="align-end">
            {{ myCreatedCount }}
          </v-list-tile-content>
          <v-btn :disabled="myCreatedCount == 0" v-if=!flags.showMyBallots flat fab small @click="listMyBallots">
            <v-icon>remove_red_eye</v-icon>
          </v-btn>
          <v-btn v-else flat fab small @click="listMyBallots">
            <v-icon>arrow_drop_up</v-icon>
          </v-btn>
        </v-list-tile>

        <div v-if="flags.showMyBallots">
          <v-divider></v-divider>
          <v-list-tile v-for="(ballot, index) in myBallotsList" :key="index">
            <v-list-tile-content>
              <h6>{{ getPrettyDate(ballot.startTime) }} &rarr; {{ getPrettyDate(ballot.endTime) }} : {{ ballot.name }}</h6>
              {{ ballot.description }}
            </v-list-tile-content>
            <v-list-tile-content class="align-end">
              <h4 v-if="ballot.started">SI: {{ballot.results.yes}}</h4>
              <h4 v-if="ballot.started">NO: {{ballot.results.no}}</h4>
            </v-list-tile-content>
          </v-list-tile>
        </div>
      </v-list>

    </v-card>
     <v-dialog v-model="flags.showGiveRightModal" max-width="500">
      <v-form>
        <v-card>
          <v-card-title class="headline">Agrear a votacion</v-card-title>

          <v-card-text>
            <v-text-field @keydown.space.prevent v-model="giveRight.voter" label="Votante"></v-text-field>
            <v-text-field :disabled="true" v-model="giveRight.ballot" label="Votacion"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="green"
              :disabled="giveRight.voter == null || giveRight.voter == '' || giveRight.ballot == null || giveRight.ballot == ''"
              @click="changeRightToVote(true); flags.showGiveRightModal = false">Habilitar</v-btn>
            <v-btn flat color="red"
              :disabled="giveRight.voter == null || giveRight.voter == '' || giveRight.ballot == null || giveRight.ballot == ''"
              @click="changeRightToVote(false); flags.showGiveRightModal = false">Deshabilitar</v-btn>
            <v-btn flat color="blue" @click="flags.showGiveRightModal = false;  giveRight.voter = giveRight.ballot = null">Cancelar</v-btn>
          </v-card-actions>

        </v-card>
      </v-form>
    </v-dialog>
  </div>

  <div v-else>
    <v-card>
      <v-card-title>
        <v-spacer></v-spacer>
        <h6>Contrato no disponible</h6>
        <v-spacer></v-spacer>
      </v-card-title>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "factory",
  data: () => ({
    proposal: {
      name: null,
      description: null,
      in: 30,
      duration: 120
    },
    giveRight:{
      voter: null,
      ballot: null
    },
    createdCount: 0,
    myCreatedCount: 0,
    flags: {
      showCreateBallotModal: false,
      showBallots: false,
      showMyBallots: false,
      showGiveRightModal: false
    },
    ballotsList: [],
    myBallotsList: [],
    message: {
      error:{
        msg:"Error",
        status: false
      },
      success:{
        msg:"Success",
        status: false
      },
      info:{
        msg:"INFO",
        status: false
      }
    },
    ballot: null,
    dialog: false
  }),
  props: ["factory", "account", "accountName", "ballotData"],
  watch: {
    accountName: function() {
      this.loadData();
      this.clear();
    }
  },
  methods: {
    refresh() {
      this.loadData();
      this.clear();
    },
    forceRefresh() {
      this.factory.methods.stamptime().send({ from: this.account });
      this.loadData();
      this.clear();
    },
    clear(ignorekey = "") {
      for (var key in this.flags) {
        if (key != ignorekey) {
          this.flags[key] = false;
        }
      }
    },
    cleanMessages() {
      this.message.error.status = false;
      this.message.success.status = false;
      this.message.info.status = false;
    },
    sendMessage(message, type){
      this.cleanMessages();
      this.message[type].msg = message;
      this.message[type].status = true;
    },
    showCreateBallotModal() {
      this.clear();
      this.flags.showCreateBallotModal = true;
    },
    listBallots() {
      this.clear("showBallots");
      this.flags.showBallots = !this.flags.showBallots;
      this.loadBallotsList();
    },
    listMyBallots() {
      this.clear("showMyBallots");
      this.flags.showMyBallots = !this.flags.showMyBallots;
      this.loadMyBallotsList();
    },
    getPrettyDate(timestamp) {
      let date = new Date(timestamp * 1000);
      return date.toLocaleString();
    },
    async loadData() {
      this.createdCount = await this.factory.methods.createdCount().call({ from: this.account });
      this.myCreatedCount = this.accountName ? await this.factory.methods.createdByCount(this.accountName).call({ from: this.account }) : 0;
    },
    async getBallot(ballotName) {
      try {
        let ballotAddress = await this.factory.methods.resolveAddress(ballotName).call({ from: this.account });
        return new window.web3.eth.Contract(
          this.ballotData.abi,
          ballotAddress
        );
      } catch(e) {
        return null;
      }
    },
    async loadBallot(ballotName) {
      let ballot = await this.getBallot(ballotName);
      return {
        name: ballotName,
        description: await ballot.methods.proposal().call({ from: this.account }),
        startTime: await ballot.methods.startTime().call({ from: this.account }),
        endTime: await ballot.methods.endTime().call({ from: this.account }),
        started: await ballot.methods.started().call({ from: this.account }),
        ended: await ballot.methods.ended().call({ from: this.account }),
        isRegisteredToVote: await ballot.methods.isRegisteredToVote().call({ from: this.account }),
        isAuthorizedToVote: await ballot.methods.isAuthorizedToVote().call({ from: this.account }),
        hasAlreadyVoted: await ballot.methods.hasAlreadyVoted().call({ from: this.account }),
        results: await ballot.methods.results().call({ from: this.account })
      }
    },
    async loadBallotsList() {
      this.createdCount = await this.factory.methods.createdCount().call({ from: this.account });
      if (this.createdCount == 0) {
        this.sendMessage("No hay propuestas creadas", "error");
      }
      this.ballotsList = [];
      for (let index = 0; index < this.createdCount; index++) {
        let ballotName = await this.factory.methods.created(index).call({ from: this.account });
        this.ballotsList.push(await this.loadBallot(ballotName));
        console.log(this.ballotsList[index]);
      }
    },
    async loadMyBallotsList() {
      this.myCreatedCount = await this.factory.methods.createdByCount(this.accountName).call({ from: this.account });
      if (this.myCreatedCount == 0) {
        this.sendMessage("No hay propuestas creadas por: " + this.accountName + " (" + this.account + ")", "error");
      }
      this.myBallotsList = [];
      for (let index = 0; index < this.myCreatedCount; index++) {
        let ballotName = await this.factory.methods.createdBy(this.accountName, index).call({ from: this.account });
        console.log('test',ballotName);
        this.myBallotsList.push(await this.loadBallot(ballotName));
      }
    },
    async createBallot() {
      console.log("createBallot", this.proposal);
      if (this.accountName == null) {
        this.sendMessage("Debe configurar su nombre para crear propuestas", "info");
      } else {
        let timestamp = Math.trunc(Date.now() / 1000) + this.proposal.in;
        await this.factory.methods
          .registerBallot(this.proposal.name, this.proposal.description, timestamp, this.proposal.duration)
          .send({ from: this.account })
          .then(async () => {
            await this.refresh();
            this.sendMessage("Se creo exitosamente la propuesta.", "success");
          })
          .catch(() => {
            this.sendMessage("No se pudo crear la propuesta", "error");
          });
      }
      this.proposal = {
        name: null,
        description: null,
        in: 30,
        duration: 120
      }
    },
    async changeRightToVote(value) {
      console.log("changeRightToVote", this.giveRight);
      if (value) {
        this.factory.methods.giveRightToVote(this.giveRight.voter, this.giveRight.ballot)
        .send({ from: this.account })
        .then(async () => {
          this.sendMessage("Se ha habilitado correctamente al votante " + this.giveRight.voter + " en la propuesta " + this.giveRight.ballot, "success");
        })
        .catch(() => {
          this.sendMessage("Error al habilitar al votante " + this.giveRight.voter + " en la propuesta " + this.giveRight.ballot, "error");
        });
      } else {
        this.factory.methods.removeRightToVote(this.giveRight.voter, this.giveRight.ballot)
        .send({ from: this.account })
        .then(async () => {
          this.sendMessage("Se ha deshabilitado correctamente al votante " + this.giveRight.voter + " en la propuesta " + this.giveRight.ballot, "success");
        })
        .catch(() => {
          this.sendMessage("Error al deshabilitar al votante " + this.giveRight.voter + " en la propuesta " + this.giveRight.ballot, "error");
        });
      }
    },
    async vote(ballotName, option) {
      console.log("vote", ballotName, option);
      let flag = await this.factory.methods.getText(ballotName).call({ from: this.account });
      console.log(flag);
      let ballot = await this.getBallot(ballotName);
      ballot.methods.vote(option)
        .send({ from: this.account })
        .then(async () => {
          this.loadBallotsList();
          this.sendMessage("Se ha votado exitosamente en la propuesta: " + ballotName + " (" + ballotAddress + ")", "success");
        })
        .catch(() => {
          this.sendMessage("Error al votar en la propuesta: " + ballotName + " (" + ballotAddress + ")", "error");
        });
    }
  },
  created() {
    this.refresh();
  }
};
</script>

